.container {
  background: var(--primary-grey);
  padding: 1.25rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity ease-in-out 80ms;
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container:hover {
  opacity: 0.9;
  cursor: pointer;
}

.title {
  color: var(--primary-purple);
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}
