.buttonClassName {
  width: 100%;
  padding: 10px;
  background: var(--primary-purple);
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.buttonClassName:hover {
  cursor: pointer;
  background: var(--primary-purple-focus);
}

.buttonClassName:disabled {
  background: var(--disabled-grey);
  color: black;
}