@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

:root {
  --primary-black: #252525;
  --primary-purple: #6930C3;
  --primary-teal: #64DFDF;
  --secondary-teal: #80FFDB;
  --light-grey: #F4F9F9;
  --disabled-grey: #DDDDDD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

body {
  background: var(--primary-black);
  color: white;
}