@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

:root {
  --primary-black: #202020;
  --primary-grey: #252525;
  --primary-purple: #6930C3;
  --secondary-purple: #8755D5;
  --primary-teal: #64DFDF;
  --secondary-teal: #80FFDB;
  --disabled-grey: #DDDDDD;
  --error-red: #FF0134;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

body {
  background: var(--primary-black);
  color: white;
}